{{#if parent}}
    {{#with parent}}{{> breadcrumb}}{{/with}}
    <li class="ms-Breadcrumb-listItem">
        {{#if url}}
            <a href="{{relativeURL url}}" class="ms-Breadcrumb-itemLink">{{name}}</a>
        {{else}}
            <span>{{name}}</span>
        {{/if}}
    <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--chevronRight"></i></li>
{{else}}
    {{#if url}}
        <li class="ms-Breadcrumb-listItem">
            <a href="{{relativeURL url}}" class="ms-Breadcrumb-itemLink">Index</a>
            <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--chevronRight"></i>
        </li>
    {{/if}}
{{/if}}