{{#each nodes}}
    {{#if isGlobals}}
        <li class="ms-ContextualMenu-item">
            <a href="{{relativeURL url}}" class="ms-ContextualMenu-link {{#if current}}is-selected{{/if}}">Index</a>
        </li>
    {{else if current}}
        <li class="ms-ContextualMenu-item">
            {{#if url}}
                <a class="ms-ContextualMenu-link {{#if nodes}}ms-ContextualMenu-link--hasMenu{{/if}} {{#if nodes}}{{else}}is-selected{{/if}}" href="{{relativeURL url}}" style="padding-left:{{padding}}px">{{title}}</a>
            {{else}}
                <span class="ms-ContextualMenu-link {{#if nodes}}ms-ContextualMenu-link--hasMenu{{/if}} {{#if nodes}}{{else}}is-selected{{/if}}" style="padding-left:{{padding}}px">{{title}}</span>
            {{/if}}

            {{#if nodes}}
            <i class="ms-ContextualMenu-subMenuIcon ms-Icon ms-Icon--chevronRight"></i>
            {{/if}}
        </li>
        {{#if nodes}}
        {{> navigation}}
        {{/if}}
    {{else}}
    <li class="ms-ContextualMenu-item">
        {{#if url}}
            <a class="ms-ContextualMenu-link {{#if nodes}}ms-ContextualMenu-link--hasMenu{{/if}} {{#if current}}is-selected{{/if}}" href="{{relativeURL url}}">{{title}}</a>
        {{else}}
            <span class="ms-ContextualMenu-link {{#if nodes}}ms-ContextualMenu-link--hasMenu{{/if}} {{#if current}}is-selected{{/if}}">{{title}}</span>
        {{/if}}

        {{#if nodes}}
            <i class="ms-ContextualMenu-subMenuIcon ms-Icon ms-Icon--chevronRight"></i>
            <ul class="ms-ContextualMenu">
                {{> navigation}}
            </ul>
        {{/if}}
    </li>   
    {{/if}}
{{/each}}