<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{relativeURL "assets/css/from-main.css"}}">
    <link rel="stylesheet" href="{{relativeURL "assets/css/fabric.css"}}">
    <link rel="stylesheet" href="{{relativeURL "assets/css/fabric.components.css"}}">
    <link rel="stylesheet" href="{{relativeURL "assets/css/custom.css"}}">

    <script   src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="{{relativeURL "assets/js/jquery.fabric.min.js"}}"></script>
    <script src="{{relativeURL "assets/js/menu.js"}}"></script>
    <script src="{{relativeURL "assets/js/page.js"}}"></script>
</head>
<body>

<div class="ms-Grid">

    <div class="ms-Grid-row header-row">
        <div class="ms-Grid-col ms-u-sm12">
            {{> header}}
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg2">
            <nav class="primary">
                <ul class="ms-ContextualMenu is-open">
                    {{mainNav navigation }}
                </ul>
            </nav>
            <nav class="secondary">
                <ul id="secondaryNav">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            <div class="ms-Grid">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12">
                        <h1 class="ms-font-xxl">{{#compact}}
                        {{model.kindString}}&nbsp;
                        {{model.name}}
                        {{#if model.typeParameters}}
                        &lt;
                        {{#each model.typeParameters}}
                        {{#if @index}},&nbsp;{{/if}}
                        {{name}}
                        {{/each}}
                        &gt;
                        {{/if}}
                        {{/compact}}</h1>
                    </div>
                </div>
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12">
                       {{{contents}}}
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            {{> footer}}
        </div>
    </div>
</div>

<div class="overlay"></div>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

</body>
</html>